.ModalSort {
  display: none;
}

.ModalSort.active {
  border-radius: 2rem;
  position: fixed;
  display: flex;
  z-index: 9999;
  flex-direction: column;
  background-color: var(--bg-color-light);
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  padding: 2.4rem 1.6rem;
}

.ModalSort__top {
  position: relative;
  display: flex;
  justify-content: center;
  margin-bottom: 3.6rem;
}

.ModalSort__item {
  display: flex;
  align-items: center;
  gap: 1.4rem;
  width: 34rem;
}

.ModalSort__item input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.ModalSort__item label {
  display: block;
  position: relative;
  padding-left: 3.5rem;
  cursor: pointer;
  font-size: var(--font-size-profile-name);;
  user-select: none;
}

.ModalSort__content .ModalSort__item:nth-of-type(1) label {
  margin-bottom: 4rem;
}

.ModalSort__item span {
  position: absolute;
  top: .2rem;
  left: 0;
  height: 20px;
  aspect-ratio: 1 / 1;
  background-color: var(--color-accent);
  border-radius: 50%;
}

.ModalSort__item label input:checked ~ span {
  background-color: var(--color-accent);
}

.ModalSort__item span:after {
  content: "";
  position: absolute;
  display: none;
}

.ModalSort__item span:before {
  content: "";
  position: absolute;
  display: block;
}

.ModalSort__item label span::before {
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: white;
}

.ModalSort__item label input:checked ~ span::before {
  display: none;
}

.ModalSort__item label input:checked ~ span:after {
  display: block;
}

.ModalSort__item label span:after {
  top: 6px;
  left: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: white;
}

.ModalSort__header {
  text-align: center;
  font-size: var(--font-size-h3);
  font-weight: var(--font-weight-semibold);
}

.ModalSort__button-wrapper {
  position: absolute;
  left: 0;
  top: -20%;
}

.filter {
  z-index: 2;
  position: fixed;
  inset: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  opacity: 16%;
  cursor: pointer;
}