.NetworkStatus__loading {
  z-index: 999999;
  background-color: var(--color-accent);
  padding: 4rem 2.4rem;
}

.NetworkStatus__loading p{
  color: var(--color-offline-text);
  font-size: var(--font-size-position);
  font-weight: var(--font-weight-medium);
}

.NetworkStatus__offline {
  background-color: var(--bg-color-offline);
  padding: 4rem 2.4rem;
}

.NetworkStatus__offline p {
  color: var(--color-offline-text);
  font-size: var(--font-size-position);
  font-weight: var(--font-weight-medium);
}