.NothingFound {
  padding-top: 5.4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NothingFound p {
}

.NothingFound img {
  margin-bottom: .8rem;
}

.NothingFound p:nth-child(2) {
  margin-bottom: 1.2rem;
  font-weight: var(--font-weight-semibold);
  font-size: calc(var(--font-size-profile-name) + 1px);
}

.NothingFound p:nth-child(3) {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-profile-name);
}

