.ProfileCard {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.ProfileCard__flexbox {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.ProfileCard__inner {
  display: flex;
  align-items: center;
  gap: .4rem;
}

.ProfileCard__item {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.ProfileCard__img {
  border-radius: 100%;
  width: 72px;
  aspect-ratio: 1 / 1;
}

.ProfileCard__fullname {
  font-size: var(--font-size-profile-name);
  color: var(--color-fullname);
  font-weight: var(--font-weight-medium);
}

.ProfileCard__tag {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-tag);
  color: var(--color-tabs);
}

.ProfileCard__birthday {
  font-size: var(--font-size-header);
  color: var(--color-birthday);
  padding-right: 1.6rem;
}

.ProfileCard__position {
  color: var(--color-position);
  font-size: var(--font-size-position);
  font-weight: var(--font-weight-regular);
}