.TopAPPBar {
  width: 100%;
  margin-bottom: 2.6rem;
}

.TopAPPBar__input {
  font-size: var(--font-size-header);
  width: 100%;
}

.TopAPPBar__input::placeholder {
  color: var(--color-input);
}

.navigation {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #F7F7F8;
  padding: 1rem 2rem;
  border-radius: 1.6rem;
  width: 100%;
  margin-bottom: 1.4rem;
}

.tabs {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.tabs ul {
  cursor: pointer;
  padding: .8rem 1.2rem;
  font-size: var(--font-size-header);
  font-weight: var(--font-weight-medium);
  color: var(--color-tabs);
  white-space: nowrap;
}

.tab.active {
  position: relative;
  color: black;
}

.tab.active::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-accent);
}

.menu {
  cursor: pointer;
}

.menu.active path{
  fill: var(--color-accent);
}

hr {
  height: .5px;
  background-color: var(--color-input);
}