html {
  font-size: 62.5%;
}

body {
}

input {
  border: none;
  background-color: unset;
  border-color: unset;
}

input:focus-visible {
  outline: unset;
}

ul {
  padding-inline-start: unset;
  margin: unset;
}

hr {
  margin: 0;
  border: 0;
}


:root {
  padding: 4rem 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --input-color: #C3C3C6;
  --font-size-header: 1.5rem;
  --tabs-color: #97979B;
  --medium: 500;
}

