html {
  font-size: 62.5%;
}

input {
  border: none;
  background-color: unset;
  border-color: unset;
}

input:focus-visible {
  outline: unset;
}

ul {
  padding-inline-start: unset;
  margin: unset;
}

hr {
  margin: 0;
  border: 0;
}

button {
  background-color: unset;
  border: unset;
  padding: unset;
  cursor: pointer;
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-size-h2: 2.4rem;
  --font-size-h3: 2rem;
  --font-size-profile-name: 1.6rem;
  --font-size-header: 1.5rem;
  --font-size-position: 1.3rem;
  --font-size-tag: 1.4rem;
  --font-weight-bold: 700;
  --font-weight-semibold: 600;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
  --color-input: #C3C3C6;
  --color-tabs: #97979B;
  --color-accent :#6534FF;
  --color-position: #55555C;
  --color-fullname: #050510;
  --color-birthday: #55555C;
  --bg-color-light: #fff;
  --bg-color-light-info: #F7F7F8;
  --padding-side: 0 2rem;
  --padding-all-side: 4rem 2rem;
}

