html {
  font-size: 62.5%;
}

input {
  border: none;
  background-color: unset;
  border-color: unset;
}

input:focus-visible {
  outline: unset;
}

ul {
  padding-inline-start: unset;
  margin: unset;
}

hr {
  margin: 0;
  border: 0;
}


:root {
  padding: 4rem 2rem;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --color-input: #C3C3C6;
  --font-size-header: 1.5rem;
  --font-size-profile-name: 1.6rem;
  --font-size-position: 1.3rem;
  --font-size-tag: 1.4rem;
  --color-tabs: #97979B;
  --color-accent :#6534FF;
  --color-position: #55555C;
  --color-fullname: #050510;
  --font-weight-medium: 500;
  --font-weight-regular: 400;
}

